In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('hw_data.csv')

In [19]:
from scipy.stats import entropy

In [64]:
entropy([4,2],base=2)

0.9182958340544894

In [69]:

get_entropy(df,'Early')

[4, 4]
0.9182958340544894 1.0

In [114]:
def get_entropy(n):
    c0 = n.loc[n['A'] == 0]['A'].count()
    c1 = n.loc[n['A'] == 1]['A'].count()
    return entropy([c0,c1],base=2)

def classify_data(d, c):
    n1 = d.loc[d[c] == 0]
    ent_n1 = get_entropy(n1)
    
    n2 = d.loc[d[c] == 1]
    ent_n2 = get_entropy(n2)
    total_entropy = ent_n1 * n1['A'].count() /d['A'].count() + ent_n2 * n2['A'].count() /d['A'].count()
    return total_entropy
    


classify_data(df, 'Liked The Last Jedi')

df

    Early  Finished hmk  Senior  Likes Coffee  Liked The Last Jedi  A
0       1             1       0             0                    1  1
1       1             1       1             0                    1  1
2       0             0       1             0                    0  0
3       0             1       1             0                    1  0
4       0             1       1             0                    0  1
5       0             0       1             1                    1  1
6       1             0       0             0                    1  0
7       0             1       0             1                    1  1
8       0             0       1             0                    1  1
9       1             0       0             0                    0  0
10      1             1       1             0                    0  1
11      0             1       1             1                    1  0
12      0             0       0             0                    1  0
13      1             0       0             1                    0  1

In [119]:
def select_node(d):
    gain_max = 0
    selected = ''
    base_entropy = get_entropy(d)
    for c in d.columns:
        if c != 'A':
            ent = classify_data(d, c)

            gain = base_entropy - ent

            if gain > gain_max:
                gain_max = gain

                selected = c
    return selected, gain, ent

# for depth 1 we select one node

('Finished hmk', 0.0013397424044411244, 0.9838883936298104)

In [120]:
entropy([4,4],base=2)

1.0

In [179]:
def second_node(d):
    c, gain, ent = select_node(d)
    n1 = d.loc[d[c]==1]
    n1_c,_,ent_n1 = select_node(n1)
    n2 = d.loc[d[c]==0]
    n2_c,_,ent_n2 = select_node(n2)
    total_entropy = ent_n1 * n1['A'].count() /d['A'].count() + ent_n2 * n2['A'].count() /d['A'].count()
    
    
    gain = ent- total_entropy
    
    
    return n1_c, n2_c
    
    
second_node(df)

C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)

('Early', 'Likes Coffee')

In [218]:
def decision_tree(d,max_depth=1):
    error = 0
    if max_depth == 1:
        for i,val in df.iterrows():
            selected, gain, ent = select_node(d)
            cls = d.loc[d[selected] == val[selected]]['A'].median() 
            if cls != val['A']:
                error += 1
    else:
        for i,val in df.iterrows():
            c, gain, ent = select_node(d)
            n1_c, n2_c = second_node(d)   
            if val[c] == 0:
                ds = d.loc[d[c] == 0]
                cls = ds.loc[ ds[n2_c] == val[n2_c] ]['A'].median()
                if cls != val['A']:
                    error += 1
            else:
                ds = d.loc[d[c] == 1]
                
#                 cls = ds.loc[ds[n1_c] == val[n1_c]]['A'].median()
                cls = ds.loc[ ds[n1_c] == val[n1_c] ]['A'].median()
                if int(cls) != val['A']:
                    error += 1
            
                                              
    return error/len(d)
    
error_max_depth_1 = decision_tree(df,1)
error_max_depth_2 = decision_tree(df,2)

C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)
C:\Users\syedm\.conda\envs\opencv\lib\site-packages\scipy\stats\_entropy.py:72: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=axis, keepdims=True)

In [219]:
print("Error MAX Depth 1", error_max_depth_1)
print("Error MAX Depth 2", error_max_depth_2)

Error MAX Depth 1 0.35714285714285715
Error MAX Depth 2 0.21428571428571427